.header {
  max-width: 110rem;
  margin: 12rem auto 10rem auto;

  scroll-margin-top: 120px;
}

.header span {
  display: block;
}

.header h1 {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.header p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 4rem;
  }
}
